<mat-toolbar fxLayout="row" color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggleSideBar()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span fxFlex="1 1 auto">Task</span>
  <button mat-icon-button [matMenuTriggerFor]="messages" aria-label="Mail">
    <mat-icon>email</mat-icon>
  </button>
  <mat-menu #messages="matMenu">
    <mat-list dense>
      <mat-list-item>Lorem ipsum dolor sit</mat-list-item>
      <mat-list-item>Lorem ipsum dolor sit</mat-list-item>
    </mat-list>
  </mat-menu>
  <button
    mat-icon-button
    [matMenuTriggerFor]="languages"
    aria-label="App language"
  >
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languages="matMenu">
    <button mat-menu-item>
      <mat-icon svgIcon="english"></mat-icon>
      <span>English</span>
    </button>
    <button mat-menu-item>
      <mat-icon svgIcon="spanish"></mat-icon>
      <span>Spanish</span>
    </button>
  </mat-menu>
  <button
    mat-button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
