<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(sideBarOpen$ | async) ? 'dialog' : 'navigation'"
    [mode]="(sideBarOpen$ | async) ? 'over' : 'side'"
    [opened]="(sideBarOpen$ | async) === false"
  >
    <div><img class="img-fluid" src="assets/logo.png" width="100%" /></div>
    <mat-divider></mat-divider>
    <span class="menu-title" matSubheader>Navegation menu</span>
    <mat-nav-list>
      <a
        *ngFor="let item of menu"
        mat-list-item
        [routerLink]="[item.link]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
      >
        <mat-icon *ngIf="item.icon" color="grey" matListIcon>{{
          item.icon
        }}</mat-icon>
        {{ item.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <am-header (toggleSideBarEmit)="drawer.toggle()"></am-header>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <am-footer></am-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
