<mat-toolbar>Instructions</mat-toolbar>
<mat-tab-group
  mat-stretch-tabs
  class="mt-15 example-stretched-tabs mat-elevation-z4"
>
  <mat-tab label="Step 1">
    <div class="content">
      <h3 class="subheading-2">First steps</h3>
      <ul>
        <li>Create new Angular Project</li>
        <li>Add Angular Material (Material Desing)</li>
        <li>Add navigation menu</li>
      </ul>

      <span class="body-1 mt-10">Terminal Instructions</span>
      <pre class="code">
        ng new project-name
      </pre>
      <pre class="code">
        ng add @angular/Material
      </pre>
      <pre class="code">
        ng generate component sidebar
      </pre>

      <span class="body-1 mt-10">Versioning is recommended</span>
    </div>
  </mat-tab>
  <mat-tab label="Step 2">
    <div class="content">
      <h3 class="subheading-2">Subsequent steps</h3>
      <ul>
        <li>Generate CRUD</li>
        <li>Uses the most components</li>
      </ul>
      <span class="body-1 mt-10">Component list</span>
      <ol>
        <li *ngFor="let item of components">
          &nbsp;
          <mat-checkbox [checked]="item.checked">{{
            item.description
          }}</mat-checkbox>
        </li>
      </ol>
    </div>
  </mat-tab>
  <mat-tab label="Step 3">
    <div class="content">
      <h3 class="subheading-2">Last steps</h3>
      <ul>
        <li>Upload or share code screenshots</li>
        <li>Upload code screenshots</li>
      </ul>
      <span class="body-1 mt-10">Example:</span>
      <pre>
        Student: Adalid
      </pre>
      <p class="body-1 mt-10">Screenshots</p>
      <div>
        <img src="{{ image }}" alt="Coding" width="50%" />
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
