<div mat-dialog-title>
  <mat-toolbar class="mat-toolbar mat-accent" role="toolbar" shToolbarModal>
    <span class="dialog-title">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      {{ data.formType == "add" ? "New record" : "Update" }}
    </span>
  </mat-toolbar>
</div>

<form [formGroup]="form" class="mb-15">
  <mat-dialog-content>
    <div class="mb-10"><small>Fields with * are required</small></div>
    <div>
      <div fxLayout="row wrap" fxLayoutGap="10">
        <mat-form-field fxFlex="100" appearance="fill">
          <mat-label>Name</mat-label>
          <input
            formControlName="name"
            matInput
            value=""
            #countryname
            autocomplete="off"
            alphanumeric
          />
          <mat-hint align="end">
            {{ countryname.value.length || 0 }}/200
          </mat-hint>
          <mat-error
            *ngIf="
              form.controls['name'].errors &&
              form.controls['name'].hasError('required')
            "
          >
            Required field
          </mat-error>
          <mat-error
            *ngIf="
              form.controls['name'].errors &&
              form.controls['name'].hasError('minlength')
            "
          >
            Enter 2 to 30 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap="10">
        <mat-form-field fxFlex="30" fxFlex.xs="100" appearance="fill">
          <mat-label>Code</mat-label>
          <input
            formControlName="alpha2Code"
            matInput
            autocomplete="off"
            alphanumeric
          />
          <mat-error
            *ngIf="
              form.controls['alpha2Code'].errors &&
              form.controls['alpha2Code'].hasError('required')
            "
          >
            Required field
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="70" fxFlex.xs="100" appearance="fill">
          <mat-label>Capital</mat-label>
          <input formControlName="capital" matInput autocomplete="off" />
          <mat-error
            *ngIf="
              form.controls['capital'].errors &&
              form.controls['capital'].hasError('required')
            "
          >
            Required field
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap="10">
        <mat-form-field fxFlex="100" appearance="fill">
          <mat-label>Region</mat-label>
          <mat-select formControlName="region">
            <mat-option *ngFor="let region of regions" [value]="region.id">
              {{ region.description }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              form.controls['region'].errors &&
              form.controls['region'].hasError('required')
            "
          >
            Select a option
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field fxFlex="100" appearance="fill">
          <mat-label>Population</mat-label>
          <input
            formControlName="population"
            matInput
            autocomplete="off"
            onlyNumber
          />
          <mat-error
            *ngIf="
              form.controls['population'].errors &&
              form.controls['population'].hasError('required')
            "
          >
            Required field
          </mat-error>
        </mat-form-field> -->
      </div>
      <div fxLayout="row">
        <!-- <div class="example-label-container example-label-horizontal"> -->
        <label class="example-name-label">Area</label>

        <!-- </div> -->
        <mat-slider
          fxFlex="100"
          class="example-margin"
          [max]="9999999"
          [min]="1"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="getSliderTickInterval()"
          formControlName="area"
          aria-labelledby="example-name-label"
        >
        </mat-slider>
        <label class="example-value-label">{{ form.value.area }}</label>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <mat-radio-group
          formControlName="status"
          aria-label="Select state"
          fxLayoutGap="10"
        >
          <mat-radio-button [value]="true">Active</mat-radio-button>
          <mat-radio-button [value]="false">Inactive</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- <div fxLayout="row">
        <mat-form-field fxFlex="50" appearance="fill">
          <mat-label>Funcation</mat-label>
          <input
            formControlName="fundation"
            matInput
            [matDatepicker]="picker1"
            autocomplete="off"
            [min]="data.formType == 'add' ? maxDate : null"
            readonly
          />
          <mat-hint>dd/mm/yyyy</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1">
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error
            *ngIf="form.controls['fundation'].hasError('required')"
          >
            Select a date
          </mat-error>
        </mat-form-field>
      </div> -->
    </div>
  </mat-dialog-content>
  <div class="mt-10">
    <mat-divider></mat-divider>
  </div>
  <mat-dialog-actions align="end" fxLayout="row" fxLayoutGap="10px">
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="saveCountry()"
      [class.spinner]="btnLoading"
      disabled="{{ btnLoading }}"
    >
      <mat-icon>check</mat-icon>
      Guardar
    </button>
    <button
      type="button"
      mat-button
      mat-raised-button
      color="warn"
      mat-dialog-close="form"
      disabled="{{ btnLoading }}"
    >
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
  </mat-dialog-actions>
</form>
