<mat-toolbar>Countries</mat-toolbar>
<div class="mt-15">
  <div
    class="mx-10"
    fxLayout="row wrap"
    fxLayoutGap="10"
    fxLayoutAlign="space-between center"
    fxLayoutAlign.sm="space-around center"
    fxLayoutAlign.xs="center center"
  >
    <mat-form-field
      fxFlex="50"
      fxFlex.md="60"
      fxFlex.sm="75"
      fxFlex.xs="100"
      appearance="outline"
      class="search-text-medium"
    >
      <mat-label>Search</mat-label>
      <input
        matInput="search"
        (keyup)="applyFilter($event)"
        maxlength="30"
        placeholder="..."
        autocomplete="off"
        #datafilter
      />
      <mat-icon matSuffix *ngIf="!datafilter.value">search</mat-icon>
      <button
        mat-button
        *ngIf="datafilter.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        class="grey"
        (click)="clearFilter(); datafilter.value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="control-section mb-15">
      <button mat-raised-button color="primary" (click)="addCountry()">
        <mat-icon>add</mat-icon>
        NEW
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table
      class="custom-table"
      mat-table
      [dataSource]="countries"
      matSort
      matSortStart="asc"
      class="mat-elevation-z3"
    >
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef>Nro.</th>
        <td mat-cell *matCellDef="let i = index">
          {{ i + 1 + countryPaginator.pageIndex * countryPaginator.pageSize }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="alpha_code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let element">
          {{ element.alpha2Code }}
        </td>
      </ng-container>
      <ng-container matColumnDef="capital">
        <th mat-header-cell *matHeaderCellDef>Capital</th>
        <td mat-cell *matCellDef="let element">
          {{ element.capital }}
        </td>
      </ng-container>
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef>Region</th>
        <td mat-cell *matCellDef="let element">
          {{ element.region }}
        </td>
      </ng-container>
      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef>Population</th>
        <td mat-cell *matCellDef="let element">
          {{ element.population }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle color="primary" [checked]="element.status" disabled>
          </mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-button
            mat-icon-button
            (click)="updateCountry(element)"
            matTooltip="Edit"
          >
            <mat-icon color="orange" aria-hidden="false" aria-label="Edit"
              >edit</mat-icon
            >
          </button>
          <button
            mat-button
            mat-icon-button
            (click)="deleteCountry(element)"
            matTooltip="Delete"
          >
            <mat-icon color="red" aria-hidden="false" aria-label="Delete"
              >delete</mat-icon
            >
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    <mat-paginator
      #countryPaginator
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons
      aria-label="Country pagination"
    ></mat-paginator>
  </div>
</div>
