::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}

table {
  width: 100%;
  th.mat-header-cell {
    background-color: #f5f5f5;
    color: #424242;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.1rem 0.6rem;
  }
  td.mat-cell {
    padding: 0.2rem 0.6rem;
  }
}

.table-responsive {
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .table-responsive {
    overflow-x: scroll;
  }
}
