// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-mat-primary: mat.define-palette(mat.$teal-palette);
$angular-mat-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-mat-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-mat-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-mat-primary,
      accent: $angular-mat-accent,
      warn: $angular-mat-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-mat-theme);

/* You can add global styles to this file, and also import other style files */

// Sise
$padding-margin-size-5: 5px;
$padding-margin-size-10: 10px;
$padding-margin-size-15: 15px;
$toolbar-height: 64px;
$footer-height: 6.02rem; //97px;

// Colors
$color-success: #1de9b6;
$color-orange: #ff8f00;
$color-red: #ec7371;
$color-blue: #4ebbee;
$color-accent: #00799f;
$color-grey: #757575;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 1.2rem;
  min-height: calc(100vh - $toolbar-height - $footer-height);
}

.content {
  margin: 1.2rem;
}

// Icons color
.mat-icon.mat-success {
  color: $color-success;
}
.mat-icon.mat-orange {
  color: $color-orange;
}
.mat-icon.mat-red {
  color: $color-red;
}
.mat-icon.mat-blue {
  color: $color-blue;
}
.mat-icon.mat-grey {
  color: $color-grey;
}

// Paddings
.pl-5 {
  padding-left: $padding-margin-size-5;
}
.pt-5 {
  padding-top: $padding-margin-size-5;
}
.pr-5 {
  padding-right: $padding-margin-size-5;
}
.pb-5 {
  padding-bottom: $padding-margin-size-5;
}
.pl-10 {
  padding-left: $padding-margin-size-10;
}
.pt-10 {
  padding-top: $padding-margin-size-10;
}
.pr-10 {
  padding-right: $padding-margin-size-10;
}
.pb-10 {
  padding-bottom: $padding-margin-size-10;
}
// Margins
.ml-5 {
  margin-left: $padding-margin-size-5;
}
.mt-5 {
  margin-top: $padding-margin-size-5;
}
.mr-5 {
  margin-right: $padding-margin-size-5;
}
.mb-5 {
  margin-bottom: $padding-margin-size-5;
}
.my-5 {
  margin: $padding-margin-size-5 0;
}
.mx-5 {
  margin: 0 $padding-margin-size-5;
}
.ml-10 {
  margin-left: $padding-margin-size-10;
}
.mt-10 {
  margin-top: $padding-margin-size-10;
}
.mr-10 {
  margin-right: $padding-margin-size-10;
}
.mb-10 {
  margin-bottom: $padding-margin-size-10;
}
.my-10 {
  margin: $padding-margin-size-10 0;
}
.mx-10 {
  margin: 0 $padding-margin-size-10;
}
.ml-15 {
  margin-left: $padding-margin-size-15;
}
.mr-15 {
  margin-right: $padding-margin-size-15;
}
.mt-15 {
  margin-top: $padding-margin-size-15;
}
.mb-15 {
  margin-bottom: $padding-margin-size-15;
}
.my-15 {
  margin: $padding-margin-size-15 0;
}
.mx-15 {
  margin: 0 $padding-margin-size-15;
}

// Spinner Button loading
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  border-top-color: $color-accent;
  border-right-color: $color-accent;
  animation: spinner 0.8s linear infinite;
}

// Snackbar
.success-snackbar {
  color: black;
  background: $color-success;
}
.error-snackbar {
  color: black;
  background: $color-red;
}
.warning-snackbar {
  color: black;
  background: $color-orange;
}
.info-snackbar {
  color: black;
  background: $color-blue;
}

.center {
  text-align: center;
}
