<div>
  <mat-toolbar shToolbarModal>
    <span class="dialog-title">CONFIRM</span>
  </mat-toolbar>
  <mat-dialog-content
    fxLayout="row"
    fxLayoutAlign="space-around"
    style="padding: 2rem"
  >
    <span style="font-size: 1.1rem; text-align: center">
      {{ data.message }}
    </span>
  </mat-dialog-content>
</div>
<mat-divider></mat-divider>
<mat-dialog-actions fxLayout="row" fxLayoutGap="20px">
  <button fxFlex mat-raised-button color="primary" [mat-dialog-close]="true">
    <span>Aceptar</span>
  </button>
  <button fxFlex mat-raised-button color="warn" [mat-dialog-close]="false">
    <span>Cancelar</span>
  </button>
</mat-dialog-actions>
